<div class="container">
<h1>Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |c| %>
  <div class="col-xs-12 col-sm-4">
      <div class="card-body">
        <h5 class="card-title"><%= c.name %></h5>
      </div>
    </div>
    <% end %>
  </div>
</div>
